# SOAPdenovo2

###################
# Paired-End Reads
###################

# AD09WVACXX
[LIB]
asm_flags=3
avg_ins=293
rd_len_cutof=101
reverse_seq=0
q1=/data1/home/alam/whaleShark/qcFiles/AD09WVACXX_PE_R1.fastq.gz
q2=/data1/home/alam/whaleShark/qcFiles/AD09WVACXX_PE_R2.fastq.gz
rank=1
map_len=32

# ADO10785S2
[LIB]
asm_flags=3
avg_ins=330
rd_len_cutof=101
reverse_seq=0
q1=/data1/home/alam/whaleShark/qcFiles/ADO10785S2_PE_R1.fastq.gz
q2=/data1/home/alam/whaleShark/qcFiles/ADO10785S2_PE_R2.fastq.gz
rank=1
map_len=32

# ADO10785S3
[LIB]
asm_flags=3
avg_ins=328
rd_len_cutof=101
reverse_seq=0
q1=/data1/home/alam/whaleShark/qcFiles/ADO10785S3_PE_R1.fastq.gz
q2=/data1/home/alam/whaleShark/qcFiles/ADO10785S3_PE_R2.fastq.gz
rank=1
map_len=32

# BCOT1RACXX
[LIB]
asm_flags=3
avg_ins=286
rd_len_cutof=101
reverse_seq=0
q1=/data1/home/alam/whaleShark/qcFiles/BCOT1RACXX_PE_R1.fastq.gz
q2=/data1/home/alam/whaleShark/qcFiles/BCOT1RACXX_PE_R2.fastq.gz
rank=1
map_len=32

# C4BCWACXX
[LIB]
asm_flags=3
avg_ins=7161
rd_len_cutof=101
reverse_seq=0
q1=/data1/home/alam/whaleShark/qcFiles/C4BCWACXX_PE_R1.fastq.gz
q2=/data1/home/alam/whaleShark/qcFiles/C4BCWACXX_PE_R2.fastq.gz
rank=1
map_len=32

# D0F34ACXX
[LIB]
asm_flags=3
avg_ins=290
rd_len_cutof=101
reverse_seq=0
q1=/data1/home/alam/whaleShark/qcFiles/D0F34ACXX_PE_R1.fastq.gz
q2=/data1/home/alam/whaleShark/qcFiles/D0F34ACXX_PE_R2.fastq.gz
rank=1
map_len=32

# Liver
[LIB]
asm_flags=3
avg_ins=215
rd_len_cutof=101
reverse_seq=0
q1=/data1/home/alam/whaleShark/qcFiles/liver_PE_R1.fastq.gz
q2=/data1/home/alam/whaleShark/qcFiles/liver_PE_R2.fastq.gz
rank=1
map_len=32

# Spleen1
[LIB]
asm_flags=3
avg_ins=274
rd_len_cutof=101
reverse_seq=0
q1=/data1/home/alam/whaleShark/qcFiles/spleen1_PE_R1.fastq.gz
q2=/data1/home/alam/whaleShark/qcFiles/spleen1_PE_R2.fastq.gz
rank=1
map_len=32

# Spleen2
[LIB]
asm_flags=3
avg_ins=236
rd_len_cutof=101
reverse_seq=0
q1=/data1/home/alam/whaleShark/qcFiles/spleen2_PE_R1.fastq.gz
q2=/data1/home/alam/whaleShark/qcFiles/spleen2_PE_R2.fastq.gz
rank=1
map_len=32

###################
# Single-End Reads
###################

# Illumina Single-End
[LIB]
asm_flags=1
rd_len_cutof=101
q=/data1/home/alam/whaleShark/qcFiles/AD09WVACXX_SE.fastq.gz
q=/data1/home/alam/whaleShark/qcFiles/ADO10785S2_SE.fastq.gz
q=/data1/home/alam/whaleShark/qcFiles/ADO10785S3_SE.fastq.gz
q=/data1/home/alam/whaleShark/qcFiles/BCOT1RACXX_SE.fastq.gz
q=/data1/home/alam/whaleShark/qcFiles/C4BCWACXX_SE.fastq.gz
q=/data1/home/alam/whaleShark/qcFiles/D0F34ACXX_SE.fastq.gz
q=/data1/home/alam/whaleShark/qcFiles/D1259ACXX_SE.fastq.gz
q=/data1/home/alam/whaleShark/qcFiles/liver_SE.fastq.gz
q=/data1/home/alam/whaleShark/qcFiles/spleen1_SE.fastq.gz
q=/data1/home/alam/whaleShark/qcFiles/spleen2_SE.fastq.gz



